.footer {
    background-color: $background-dark;
    @include medium-font;
    color: $body-light;
    padding: 80px 0px;

    @include respond-to("min-tablet") {
        padding: 40px 0px;
        height: $footer-height;
    }

    &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;

        @include respond-to("min-tablet") {
            flex-direction: row;
            padding: 0px 40px;
        }
    }

    &-top {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        width: 100%;

        @include respond-to("min-tablet") {
            flex-direction: row;
        }
    }

    &-about {
        text-align: center;

        @include respond-to("min-tablet") {
            text-align: left;
        }
    }

    &-aboutTitleImg {
        max-height: 60px;
        height: auto;
        margin-bottom: 10px;
    }

    &-aboutDescription {
        @include medium-font();
    }

    &-socialMenu {
        margin: 20px;

        @include respond-to("min-tablet") {
            margin-left: auto;
        }
    }

    &-socialMenuItem {
        padding: 15px 0;
    }

    &-socialLink {
        @include medium-font;
        font-weight: 400;
        text-decoration: none;
        color: $body-light;
        display: flex;
        align-items: center;
    }

    &-socialLinkIcon {
        width: 40px;
        margin-right: 20px;
    }

    &-flag {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        padding-top: 20px;

        @include respond-to("min-tablet") {
            margin-left: auto;
        }
    }

    &-bottom {
        margin-top: auto;
        width: 100%;
    }
}