.header {
    height: 450px;
    padding: 100px 20px 40px;

    @include respond-to("min-desktop") {
        height: 640px;
        padding: 160px 20px 60px;
    }

    @include respond-to("min-large-desktop") {
        height: 100vh;
    }

    &_original_modifier {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond-to("min-tablet") {
            flex-direction: row;
            justify-content: space-around;
        }

        img {
            margin-bottom: 30px;
            padding: 0px 20px;

            @include respond-to("min-tablet") {
                padding: 0px;
            }

            @include respond-to("min-desktop") {
                margin-bottom: 0;
            }
        }

        h1 {
            @include large-font();
            color: $body-light;
            padding: 10px 20px;
            max-width: 400px;
            text-align: center;
            cursor: default;
            display: inline;

            span {
                @include title-link-border();
            }

            @include respond-to("min-tablet") {
                flex-basis: 430px;
                text-align: left;
                width: 50%;
                align-items: flex-start;
                padding: 0px;
            }

            @include respond-to("min-desktop") {
                flex-basis: 500px;
            }
        }
    }

    &_project_page {
        flex-direction: column;
        justify-content: unset;
        height: 100%;

        h1 {
            @include xlarge-font();
            width: unset;
            text-align: center;
            flex-basis: unset;
            border-bottom: 3px solid #e0a458;
            margin-bottom: 40px;
        }
    }

    &_about_page {
        h1 {
            @include xlarge-font();
        }

        img {
            width: 320px;
            max-width: 100%;
            margin-top: 30px;
            margin-bottom: 0px;

            @include respond-to("min-tablet") {
                width: 400px;
                margin-top: 0px;
            }

            @include respond-to("min-desktop") {
                width: 500px;
                margin-top: 0px;
            }
        }
    }
}