.navbar {
    background: linear-gradient(to right, rgba(65, 67, 69, 0.4), rgba(35, 37, 38, 0.4));
    height: $navbar-height;
    position: fixed;
    width: 100%;
    padding: 0px 0px;

    &--show {
        transition: .3s ease-in-out;
    }

    &--hide {
        transform: translate3d(0px, -60px, 0px);
        transition: .3s ease-in-out;
    }



    @include respond-to("min-desktop") {
        padding: 0px 100px;
    }

    &-container {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;

        @include respond-to("min-desktop") {
            justify-content: unset;
        }
    }

    &-menu {
        display: flex;
        flex-grow: 0;
        margin-left: auto;
    }

    &-menuItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-menuLink {
        @include medium-font();
        color: $menu-inactive;
        padding: 0 0.5rem;
        margin: 0 0.5rem;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 0.4px;
        transition: all $transition-duration ease-in-out;

        &:hover,
        &--active {
            color: $menu-active;
        }
    }
}



/*-----------------------------------------------------mobile nav-menu----------------------------------------------*/
.mobile-navbar-menu {
    margin: 0rem 0 0 0 !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    transition: .4s;
    overflow: hidden;

    //Hide the mobile menu;
    &--hide {
        transform: translateX(-120%);
    }

    //Open the mobile menu;
    &--opened {
        transform: translateX(0);
    }

    .center-vertical-mobile-nav {
        overflow: hidden;
        height: 100%;
        background: linear-gradient(to right, rgba(65, 67, 69, 1), rgba(35, 37, 38, 1));
        flex-flow: column wrap;
        display: flex;
        flex: 1;

        .ul-mobile-navbar-menu {
            height: 80%;
            flex-flow: column wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            margin: auto; // margin-top: 6.5rem;
            flex: 0.8;

            li {

                a {
                    text-transform: uppercase;
                    line-height: 3.29;
                    letter-spacing: 0.27rem;
                    padding: 5px 10px;
                    font-weight: bold;

                    span {
                        margin: 0;
                        padding-bottom: 1rem;
                    }
                }

                .navbar-menuLink--active>span {
                    border-bottom: solid 2px $white;
                }
            }
        }

        .social-icon-nav {
            flex: 0.2;
            padding: 0 !important;
            width: 100%;
            display: inline-flex;
            flex-flow: row;
            list-style: none;
            align-items: center;
            justify-content: center;

            .social-icon {
                margin: 0 1.25rem;
            }
        }
    }
}

/*-----------------------------------------------------Senzo toggle mobile button section-----------------------------------*/


.hamburger-btn {
    padding: 20px;
    background-color: transparent;
    position: relative;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);

    &__bar1,
    &__bar2,
    &__bar3 {
        transition: .4s;
        width: 24px;
        height: 2px;
        background-color: white;
        margin-bottom: 6px;
    }

    &__bar3 {
        margin-bottom: 0px !important;
    }

    &.hamburger-btn--active {
        .hamburger-btn__bar1 {
            transform: rotate(45deg) translate(6px, 6px);
        }

        .hamburger-btn__bar2 {
            opacity: 0;
        }

        .hamburger-btn__bar3 {
            transform: rotate(-45deg) translate(5.5px, -5.5px);
        }
    }

}