.project {
    position: relative;
    border: 3px solid rgba($highlight, 0.2);
    @include medium-font();

    @include respond-to("min-desktop") {
        flex-direction: row;
    }

    &-title {
        @include large-font();
        text-align: center;
        margin-bottom: 20px;
    }

    &-label {
        font-weight: 400;
    }

    &-meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;

        @include respond-to("min-desktop") {
            flex-direction: row;
        }
    }

    &-metaField {
        margin: 0 20px;
        text-align: center;

        &--date {
            margin-bottom: 10px;

            @include respond-to("min-desktop") {
                margin-bottom: 0;
            }
        }
    }

    &-info-wrapper {
        display: flex;
    }

    &-info {
        display: flex;
        //align-items: flex-start;
        padding-bottom: 30px;
        flex-wrap: wrap;

        @include respond-to("min-desktop") {
            // flex-basis: 50%;
            padding: 0 20px;
        }
    }

    &-info__ImageContainer {
        align-items: center;
        margin-right: 0px;
        width: 100%;

        @include respond-to("min-tablet") {
            margin-right: 40px;
            flex: 1;
        }

        .ImageContainer__img {
            max-height: 300px;
            margin-bottom: 10px;

            @include respond-to("min-desktop") {

                margin-bottom: 20px;
            }
        }

        .ImageContainer__infoName {
            @include small-font();
            font-weight: 400;
            text-align: center;
            word-break: break-all;
        }
    }

    &-info__description {
        //flex-direction: column;
        //align-items: flex-start;
        flex: 1;

        .description__infoTitle {
            font-weight: 400;
            margin-bottom: 10px;
        }

        .description__infoText {
            @include small-font();
        }

        .description__infoLinks {
            margin-top: 5px;

            .infoLinks__infoLinkItem {
                margin-bottom: 5px;
            }

            .infoLinks__infoLink {
                @include small-font();
                @include link-border();
                font-weight: 400;
            }
        }
    }

}