.about {
    &__description {
        padding-bottom: 60px;
        text-align: justify;
        @include medium-font();

        @include respond-to("min-tablet") {
            text-align: left;
        }

        h2 {

            text-align: center;
            margin-bottom: 20px;
            @include large-font();
        }
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    &__list-item {
        width: 320px;
        margin-bottom: 20px;
    }

    .section_about__me,
    .section_about__details {
        border: unset;
        position: unset;

        @include respond-to("min-tablet") {
            background-color: unset;
            border: 3px solid rgba(224, 164, 88, 0.2);
            position: relative;
            padding: $section-padding-mobile 20px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to("min-desktop") {
            margin-left: auto;
            margin-right: auto;

            padding: $section-padding 40px;
        }

        h2 {
            @include large-font();
            margin-bottom: 40px;
            text-align: center;
        }

        ul li {
            margin-bottom: 20px;
        }

        a {
            @include link-border();
        }
    }

    .section_width {
        @include respond-to("min-tablet") {
            width: 75%;
        }

        @include respond-to("min-desktop") {
            width: 50%;
        }
    }
}