.mapWrapper {
    position: relative;
    height: 450px;
}

.mapNote {
    text-align: center;
    margin-bottom: 10px;
    @include small-font();
}

.ctaBlock {
    position: relative;
    color: $body-light;

    @include respond-to("min-desktop") {
        height: 300px;
        @include medium-font();
    }

    &-pattern {
        display: flex;
        position: relative;

        @include respond-to("min-desktop") {
            position: absolute;
            align-items: flex-end;
            transition: box-shadow $transition-duration cubic-bezier(0.4, 0, 0.3, 1);
        }

        &--first {
            background-color: $highlight-secondary;

            @include respond-to("min-desktop") {
                justify-content: flex-end;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
            }
        }

        &--second {
            background-color: $background-medium;

            @include respond-to("min-desktop") {
                bottom: 0;
                right: 0;
                width: 50%;
                height: 100%;
            }
        }

        &:hover {
            box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
        }
    }

    &-container {
        height: 100%;
        position: relative;
    }

    &-cta {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px;
       

        @include respond-to("min-desktop") {
            position: absolute;
            height: unset;
            width: 100vw / 2;
        }

        @include respond-to("min-large-desktop") {
            width: $container-width / 2;
        }
    }

    &-ctaHeading {
        @include large-font();
    }

    &-ctaDescription {
        @include medium-font();

        @include respond-to("min-desktop") {
            margin-bottom: 40px;
        }
    }
}