.my-projects {
    &-container {
        display: flex;
        flex-direction: column;
        margin-bottom: -40px;
    }

    &-description {
        @include medium-font();
        max-width: 900px;
        text-align: center;
    }

}