html {
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    background-color: #2d3047;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: $white;

}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: auto;
}

.section {
    padding: $section-padding-mobile 20px;
    margin: 60px 0px;
    color: $body-light;
    background: linear-gradient(to right, rgba(65, 67, 69, 0.4), rgba(35, 37, 38, 0.4));
    transition: all .3s linear;
    cursor: pointer;
    @include respond-to("min-tablet") {
        margin: 60px 20px;
    }

    @include respond-to("min-desktop") {
        padding: $section-padding 40px;

    }

    &:hover {
        box-shadow: 20px 20px rgba(65, 67, 69, 0.4);
    }
}



main {
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}



#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(67, 67, 67, 1));
    left: 0px;
    top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
i,
u,
strike,
pre,
code,
tt,
blockquote,
small,
strong,
em,
center,
font,
a,
li {
    position: relative;
}