$white: rgba(255, 255, 255, 1);
$white--inactive: rgba(255, 255, 255, .5);
$american-silver: #cecece;
$sambucus: #1b1d2e;
$black-blueberry: #2d3047;
$coronation: #ececec;
$golden-apricot: #e0a458;
$greenway: #419d78;
$snowy-mountain: #f2efea;

$highlight: $golden-apricot;
$highlight-secondary: $greenway;

$background-light: $snowy-mountain;
$background-dark: $sambucus;
$background-medium: $black-blueberry;

$menu-active: $white;
$menu-inactive: $white--inactive;

$body-light: $coronation;
$body-dark: $black-blueberry;

$navbar-height: 60px;
$footer-height: 500px;
$container-padding: 20px;
$section-padding: 50px;
$section-padding-mobile: 40px;
$container-width: 1200px;
$transition-duration: 250ms;